<% provide(:title, "Admin Panel") %>
<dl class="tabs" data-tab>
    <dd class="active"><a href="#panel2-1">Current Databases</a></dd>
    <dd><a href="#panel2-2">User Settings</a></dd>
</dl>
<div class="tabs-content">
    <div class="content active" id="panel2-1">
        <% if @databases.length == 0 %>
            <em>No databases have been created yet</em>
        <% else %>
            <div class="row">
                <div class="large-6 large-centered columns">
                    <%= foundation_paginate @databases %>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th width="200">Database name</th>
                        <th>Database user</th>
                        <th>Database type</th>
                        <th>UID Number</th>
                        <th>Created at</td>
                    </tr>
                </thead>
                <tbody>
                    <%= render @databases %>
                </tbody>
            </table>
        <% end %>
    </div>
    <div class="content" id="panel2-2">
        <br />
        <%= form_tag do %>
            <%= number_field_tag("number_of_dbs", value = @number_allowed, options = {:min=>0}) %>
            <%= label_tag('Number_of_dbs', 'Number of databases a user can create') %>
            <br />
            <%= check_box_tag('is_locked', 'yes', @is_locked) %>
            <%= label_tag('is_locked', 'Locked site?') %>
            <br />
            <br />
            <%= submit_tag("Save Settings", class: "button [radius round]") %>
        <% end %>
    </div>
</div>
