<% provide(:title, "Make DB") %>

<%= form_for(@database, :url => "/") do |f| %>
<div class="row">
    <div class="large-6 columns">
      <h5>Database</h5>
      <%= f.label :name %>
      <% if @database.errors[:name] != [] %>
        <%= f.text_field :name, placeholder: "Database name", class: "error" %>
        <small class="error"><%= @database.errors[:name][0] %></small>
      <% else %>
        <%= f.text_field :name, placeholder: "Database name" %>
      <% end %>
      <br>
      <br>
      <%= f.label :db_type, "Database Type" %>
      <%= f.radio_button :db_type, 'pg', :checked => false %> 
      <%= f.label :db_type_pg, "PostgreSQL" %>
      <%= f.radio_button :db_type, 'mysql', :checked => true %>
      <%= f.label :db_type_mysql, "mySQL" %>

    </div>
    <div class="large-6 columns">
      <h5>User Account</h5>
      <%= f.label :username %>
      <% if @database.errors[:username] != [] %>
        <%= f.text_field :username, placeholder: "Username", class: "error" %>
        <small class="error"><%= @database.errors[:username][0] %></small>
      <% else %>
        <%= f.text_field :username, placeholder: "Username" %>
      <% end %>
        
      <%= f.label :password %>
      <% if @database.errors[:password] != [] %>
        <%= f.password_field :password, placeholder: "Password", class: "error" %>
        <small class="error"><%= @database.errors[:password][0] %></small>
      <% else %>
        <%= f.password_field :password, placeholder: "Password" %>
      <% end %>
        
      <%= f.label :password_confirmation, "Confirm Password" %>
      <% if @database.errors[:password_confirmation] != [] %>
        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "error" %>
        <small class="error"><%= @database.errors[:password_confirmation][0] %></small>
      <% else %>
        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
      <% end %>

    </div>
</div>
<%= f.submit "Submit", class: "button [radius round]" %>
<% end %>

